<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    <alert type="success">hello</alert>


    <!-- <pre class="card card-block card-header">{{singleModel}}</pre> -->
    <button type="button" class="btn btn-primary" btnCheckbox
            btnCheckboxTrue="1" btnCheckboxFalse="0">
      Single Toggle
    </button>

    <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button>

</div>

